{% if user and not user.is_anonymous %}
        <nav class="navbar navbar-default">
          <div class="container-fluid">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"><span class="fa fa-birthday-cake"></span></a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">

              </ul>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'auth:logout' %}?next=/">Logout</a></li>
              </ul>
            </div>
          </div>
        </nav>
{% else %}

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-nav navbar-right"></div>
              <a class="navbar-brand" href="#">
                <span class="fa fa-image"></span>
              </a>
            </div>
            <ul class="nav navbar-nav pull-right">
            </ul>
        </div>
      </div>
    </nav>

{% endif %}