{% extends 'base/base.html' %}

{% block content %}
    <div clas="row" style="margin-bottom: 50px;margin-top: 50px;">
       <div class="col-xs-offset-3 col-lg-pull-5">
           <h1>Welcome {{ user.get_full_name|default:user.username }}!</h1>
       </div>
    </div>
    <div class="row">
       <button id="share">Share</button>
    </div>
   <div class="row">

        {% for photo in photos %}

              <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">
                  <span class="">Photo ID: {{ photo.photo_post_id }}</span>

              </div>
              <div class="panel-body">
                 <div class="col-xs-12 col-md-6">
                        <center>
                            <img class="img-responsive img-thumbnail" src="{{photo.photo_url}}">
                        </center>
                </div>
                <div class="col-xs-12 col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item"> <span class="fa fa-heart" style="margin-right:5px;"></span> Likes: {{ photo.photo_likes }}</li>
                        <li class="list-group-item"> <span class="fa fa-clock-o" style="margin-right:5px;"></span> Stored on: {{  photo.photo_created_at }}</li>
                        <li class="list-group-item"><span class="fa fa-tag"style="margin-right:5px;"></span>Hashtags: {{ photo.photo_hashtags }}</li>
                        <li class="list-group-item"><span class="fa fa-user"style="margin-right:5px;"></span>Published by: {{photo.photo_user}}</li>
                    </ul>
                </div>

              </div>
          </div>
        {% endfor %}

    </div>
<div class="row" style="text-align: center">
    {% if photos %}
      <ul class="pagination" >
        {% if photos.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for num in photos.paginator.page_range %}
          {% ifequal num photos.number %}
            <li class="active"><a href="#">{{ num }}<span class="sr-only">(current)</span></a></li>
          {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endifequal %}
        {% endfor %}

        {% if photos.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
</div>

{% endblock %}
